:focus {
  outline: 1px solid red;
}

.accordion {
  margin: 0 0 40px;
}

.accordion__header {
  font-size: 1.5em;
}

.accordion__header:focus {
  outline: 1px solid red;
}

.accordion__header__item:focus {
  outline: 1px solid red;
}

.accordion__header__body {
  padding: 20px 0;
}

.accordion__header__item:not(.accordion__item--opened) > .accordion__section {
  display: none;
}
